{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Edit Profile
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
    {% csrf_token %}
        {% for message in messages %}

        <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
        <br>
        <a href="{% url 'change_password' %}"><button type="button" class="btn btn-primary btn-sl btn-block">Change Password</button></a>
    </div>
{% endblock %}