 <div class="card mt-2">
            <div class="card-header">
                <strong>Poster : {{ post.author.username }}</strong>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    {% if user.is_authenticated %}
                        <form action="{% url 'like-post' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user not in post.liked.all %}
                                <button class="btn btn-outline-primary me-md-2" type="submit">♡ {{ post.liked.all.count }}</button>
                            {% else %}
                                <button class="btn btn-outline-primary me-md-2" type="submit">&#10084; {{ post.liked.all.count }}</button>
                            {% endif %}
                        </form>
                    {% endif %}
                    {% if user == post.author %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger" name="post-id" value="{{post.id}}">🗑️</button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <a href="{% url 'edit_post' post_id=post.id %}"><button class="btn btn-outline-primary me-md-2" type="button">✏️</button></a>
                        </form>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'comments' post_id=post.id %}"><button class="btn btn-outline-primary me-md-2" type="button">💬</button></a>
                    {% endif %}
                </div>
            </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                </div>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
                <div>
                    <img class="rounded mx-auto d-block" src="media/{{ post.image }}" alt="{{ post.title }}">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <hr>
                    <p>{{ post.content }}</p>
                <strong>Comments :</strong><br>
                        {% for comment in comments %}
                            {% if post.id == comment.post_id %}
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <strong>User : {{ comment.user.username }}</strong>
                                        {% if user.is_authenticated %}
                                            <form action="{% url 'like-comment' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                {% if user not in comment.liked.all %}
                                                    <button class="btn btn-outline-primary me-md-2" type="submit">♡ {{ comment.liked.all.count }}</button>
                                                {% else %}
                                                    <button class="btn btn-outline-primary me-md-2" type="submit">&#10084; {{ comment.liked.all.count }}</button>
                                                {% endif %}
                                            </form>
                                            {% if user.id == comment.user_id %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-outline-danger" name="comment-id" value="{{comment.id}}">🗑️</button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="card-body"><p>{{ comment.content }}</p></div>
                                    <div class="card-footer">{{ comment.created_date }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>
            </div>
        <div class="card-footer text-muted">
            {{ post.create_date }}
        </div>
        </div>
