 <div class="card mt-2">
            <div class="card-header">
{#            post author section#}
                <strong>Poster : {{ post.author.username }}</strong>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    {% if user.is_authenticated %}
                        <form action="{% url 'like-post' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user not in post.liked.all %}
                                <button class="btn btn-outline-primary me-md-2" type="submit">♡ {{ post.liked.all.count }}</button>
                            {% else %}
                                <button class="btn btn-outline-primary me-md-2" type="submit">&#10084; {{ post.liked.all.count }}</button>
                            {% endif %}
                        </form>
                    {% endif %}
                    {% if user == post.author %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger" name="post-id" value="{{post.id}}">🗑️</button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <a href="{% url 'edit_post' post_id=post.id %}"><button class="btn btn-outline-primary me-md-2" type="button">✏️</button></a>
                        </form>
                    {% endif %}
                    <a href="{% url 'comments' post_id=post.id %}"><button class="btn btn-outline-primary me-md-2" type="button">💬</button></a>
                </div>
            </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                </div>
            </div>
            <div class="card-body d-flex flex-row justify-content-between">
{#                post section #}
                <div>
                    <img class="rounded-mx-auto-d-block" src="media/{{ post.image }}" alt="{{ post.title }}">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <hr>
                    <p>{{ post.content }}</p>
                <strong>Comments :</strong><br>

                </div>
            </div>
{#                post date detail section #}
        <div class="card-footer text-muted">
            {{ post.create_date }}
        </div>
        </div>
